@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* Defined color for easier calling in the components */
:root
{
    --clr: #222327;
}
/* Parameters for the <body> */
body
{
    display: flex;
    justify-content: center;
    align-items:center;
    min-height: 100vh;
    background: var(--clr);
}
/* Parameters for the navigation bar */
.navigation
{
    position: relative;
    width: 400px;
    height: 70px;
    background: #ea0a8e;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
/* Parameters for the <ul> in the <body> */
.navigation ul
{
    display: flex;
    width: 350px;
}
/* Parameters for the <li> in the <ul> */
.navigation ul li
{
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}
/* Parameters for the link in the <li> */
.navigation ul li a
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}
/* Parameters for the icons of the link in the <li> */
.navigation ul li a .icon
{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: var(--clr);
}
/* Parameters for the active icon of the link in the <li> */
.navigation ul li.active a .icon
{
    transform: translateY(-35px);
}
/* Parameters for the text of the link in the <li> */
.navigation ul li a .text
{
    position: absolute;
    color: #fff;
    font-weight: 400;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
}
/* Parameters for the active text of the links in the <li> */
.navigation ul li.active a .text
{
    opacity: 1;
    transform: translateY(10px);
}
/* Parameters for the selection indicator of the menu */
.indicator
{
    position: absolute;
    top: -50%;
    width: 70px;
    height: 70px;
    background: #fff;
    border-radius: 50%;
    border: 6px solid var(--clr);
    transition: 0.5s;
}
.indicator::before
{
    content: '';
    position: absolute;
    top: 50%;
    left: -22px;
    width: 20px;
    height: 20px;
    background: #ea0a8e;
    border-top-right-radius: 20px;
    box-shadow: 0px -10px 0 0 var(--clr);
}
.indicator::after
{
    content: ''; 
    position: absolute;
    top: 50%;
    right: -22px;
    width: 20px;
    height: 20px;
    background: #ea0a8e;
    border-top-left-radius: 20px;
    box-shadow: -1px -10px 0 0 var(--clr);
}
.navigation ul li:nth-child(1).active ~ .indicator
{
    transform: translateX(calc(70px * 0));
}
.navigation ul li:nth-child(2).active ~ .indicator
{
    transform: translateX(calc(70px * 1));
}
.navigation ul li:nth-child(3).active ~ .indicator
{
    transform: translateX(calc(70px * 2));
}
.navigation ul li:nth-child(4).active ~ .indicator
{
    transform: translateX(calc(70px * 3));
}
.navigation ul li:nth-child(5).active ~ .indicator
{
    transform: translateX(calc(70px * 4));
}